.register-page {
    min-height: 75vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    background: #eef8ff;
}

.register-card {
    width: 450px;
    padding: 35px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.register-card h1 {
    text-align: center;
    color: #1677c8;
}

.register-card p {
    text-align: center;
    color: #777;
}

.register-card label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
}

.register-card input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-sizing: border-box;
}

.register-card button {
    width: 100%;
    margin-top: 25px;
    padding: 13px;
    background: #1677c8;
    border: none;
    color: white;
    border-radius: 7px;
}

.register-card a {
    color: #1677c8;
}